<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hi
        {{ vm.chatUser }}, Welcome to Cool Chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="$root.currentState === 'chat' ? 'active': ''">
          <a ui-sref="chat">Chat
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="" ng-click="vm.logout()">Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="conversation">

  <div class="col-xs-2">
    <div class="online">
      <h4>Users Online</h4>
      <ul>
        <li ng-repeat="user in vm.onlineUsers">{{user.name}}</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-10">
    <table class="table">
      <tr class="chat_message" ng-repeat="chat in vm.chatList ">
        <td class="col-md-12 td_class">
          <strong>{{ chat.user.name || chat.user}}
            :
          </strong>
          {{ chat.message }}</td>
      </tr>
    </table>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row">
      <form class="form_chat form-inline">
        <div class="col-md-6 col-md-offset-2 col-xs-8 col-xs-offset-1">
          <input type="text" ng-model="vm.chatMessage" class="form-control" placeholder="TypeYourMessageHere">
        </div>
        <button class="btn btn-success btn-circle" ng-click="vm.sendMsg()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send</button>
      </form>
    </div>
  </div>

</div>
