body {
    font-family: sans-serif;
    // background-color: #212121;

    .register{
      .login-logo{
        margin-bottom: 0;
      }
      .img-responsive{
        display: block;
        max-width: 100%
        height: auto;
      }
      .login-box{
          max-width: 380px;
          border: solid #7F7F7F;
          background: white;
              /*background: #00529c;*/
          padding: 2em;
          margin: 3em auto 2em auto;
      }
    }
}
